### Tuples

1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple methods
7. Packing and unpacking Tuples
8. nested Tuples
9. Practical Example and Comman error

1. Introduction to Tuples

tuples are ordered collections of items that are immutable. they are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [ ]:
numbers=tuple([1,2,3,4,5,6]) ##() is a tuple , [] is a list ,but this condition list is converted into tuple     
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple=(1,"Hello world",3.14, True)
print(mixed_tuple)

(1, 'Hello world', 3.14, True)

In [6]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [7]:
print(numbers[2])
print(numbers[-1])

3
6

In [8]:
numbers[0:4]

(1, 2, 3, 4)

In [9]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [10]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello world', 3.14, True)

In [11]:
mixed_tuple * 3

(1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True)

In [12]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [14]:
##Immutable Nature of Tuples

##Tuples are immutable,meaning their elements cannot be channged once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="shan"
print(lst)

[1, 2, 3, 4, 5]
[1, 'shan', 3, 4, 5]

In [ ]:
numbers[1]="Shannn" ## 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [18]:
## tuple methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [19]:
## Packing and Unpacking tuple

packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [ ]:
# unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [21]:
## Unpack with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
# Nested Tuple
# Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c "]]  ##[]list
lst[0][0:3]

[1, 2, 3]

In [ ]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]  ##() tuple
lst[2][0:3]

(1, 'Hello', 3.14)

In [24]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [3]:
nested_tuple = ((1,2,3), ("a","b","c"),(True, False))

## access the element inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [4]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of item is required.They are commonly used in data structure, function arguments and return values, and as dictionary keys. understanding how to leverage tuples effectively can improve the efficiency and readability of your python code.