### Sets

Sets are a built-in data type in python used to store collections of unique items. They are unordered,meaning that the element do not follow a specific oreder, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference and symmetric difference.

In [1]:
## create a set

my_set={1,2,3,4}
print(my_set)
print(type(my_set))

{1, 2, 3, 4}
<class 'set'>

In [4]:
my_set=set()
print(type(my_set))

<class 'set'>

In [12]:
my_set=set([1,2,3,4,5,6])  ## list are converted into set
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
my_empty_set=set([1,2,3,6,5,4,5,6]) ## do not allow duplicates
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [13]:
## basics sets operation
## Adding and removing Elements

my_set.add(7)  ## add element
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [14]:
## remove the elements from a set

my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
my_set.discard(11) ## Remove an element from  a set if it is a member
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
## pop method
removed_element=my_set.pop() ## pop are first in first out
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [17]:
## clear all the elements
my_set.clear()
print(my_set)

set()

In [18]:
## Set Membership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [21]:
## mathematical Operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Union
union_set=set1.union(set2)
print(union_set)

## Intersection
intersection_set=set1.intersection(set2)  ## common items for two sets
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [22]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference 
print(set1.difference(set2))

{1, 2, 3}

In [23]:
set1

{1, 2, 3, 4, 5, 6}

In [24]:
set2.difference(set1)

{7, 8, 9}

In [ ]:
## Symmetric Differrence
set1.symmetric_difference(set2) ## both the unique values are combine ,same value are not allowed

In [29]:
## Sets methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset 
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [30]:
lst=[1,2,2,3,4,4,5]

set(lst)   # remove duplicates value in list

{1, 2, 3, 4, 5}

In [31]:
### Counting Unique words in text

text="In This  tutorial we are discussing about sets"
words=text.split()

# convert list of words to set unique words
unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'In', 'sets', 'tutorial', 'we', 'about', 'are', 'discussing', 'This'}
8