### Variables

Variable are fundamental element in proggramming used to store data that can be referenced and manipulated in a program.    In python , variable are created when you assign  a value to them and they do not need explicit declaration to reserve memory space. the declaration happens automatically when you assign a value to a variable.

In [1]:
## Declaration And Assiging Variables

age=32
height=6.1
name="krish"
is_student=True

## printing the Variables

print("age:",age)
print("height:",height)
print("Name:",name)

age: 32
height: 6.1
Name: krish

In [ ]:
## naming Conventions
## variable names should be descriptive
## They must start with a letter or an "_" and  contains letter,numbers and underscores
## variables names case sensitive

# valid variable names

first_name= "shann"
last_name="sontakke"

In [ ]:
## Invalid number
#2age=30
#first-name="Krish"
##@name="krish"

In [ ]:
## case sensitivity
name="Krish"
Name="Lolo"

In [ ]:
## Understanding Variable types
## Python is dynamically typed, type of a variable is determined at runtime

age=25 #int
height=6.1 # float
name="Krish" #str
is_student=True #bool

print(type(name))

In [2]:
## Type Checking and Conversion

type(height)

float

In [3]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [4]:
age='25'
print(type(int(age)))

<class 'int'>

In [ ]:
name="Krish"
int(name)

## valueerror str is complelete sentence

ValueError: invalid literal for int() with base 10: 'Krish'

In [6]:
height=5.11
type(height)

float

In [7]:
int(height)

5

In [8]:
float(int(height))

5.0

In [9]:
## Dynamic Typing
## Python allows the type of a variable to change as the program executes
var=10 # int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [4]:
## input
age=23
age=input("What is the age")
print(age,type(age))

 <class 'str'>

In [6]:
## input

age=int(input("What is the age"))
print(age,type(age))

ValueError: invalid literal for int() with base 10: ''

In [7]:
### Simple claculator
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("sum:",sum)
print("Difference:", difference)
print("Product:",product)
print("Quotient:",quotient)

sum: 9.0
Difference: -1.0
Product: 20.0
Quotient: 0.8